# .coveragerc to control coverage.py
[run]
branch = True
omit = .coverage*
[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain about missing debug-only code:
    def __repr__
    if self\.debug

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError

    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:
    except ImportError:
    except PermissionError:
    except (ImproperlyConfigured, OperationalError):
    except (ImproperlyConfigured, AttributeError):
omit = src/evaluation_system/tests/*,./src/evaluation_system/fuse/*,./src/evaluation_system/external/*,./src/freva/cli/__main__.py

ignore_errors = False
