conda activate freva-dev
conda env config vars set EVALUATION_SYSTEM_CONFIG_FILE=$PWD/compose/local-eval-system.conf 1>/dev/null
conda env config vars set EVALUATION_SYSTEM_DRS_CONFIG_FILE=$PWD/compose/drs_config.toml 1>/dev/null
conda env config vars set EVALUATION_SYSTEM_PLUGINS=$PWD/src/evaluation_system/tests/mocks,dummy 1>/dev/null
conda deactivate
conda activate freva-dev
