conda activate freva-dev
conda env config vars set EVALUATION_SYSTEM_CONFIG_FILE=$PWD/compose/local-eval-system.conf
conda env config vars set EVALUATION_SYSTEM_DRS_CONFIG_FILE=$PWD/compose/drs_config.toml
conda env config vars set EVALUATION_SYSTEM_PLUGINS=$PWD/src/evaluation_system/tests/mocks,dummy
conda deactivate
conda activate freva-dev
