export EVALUATION_SYSTEM_CONFIG_FILE=$PWD/compose/local-eval-system.conf
export EVALUATION_SYSTEM_DRS_CONFIG_FILE=$PWD/compose/drs_config.toml
export EVALUATION_SYSTEM_PLUGINS=$PWD/src/evaluation_system/tests/mocks,dummy
conda env config vars set EVALUATION_SYSTEM_CONFIG_FILE=$EVALUATION_SYSTEM_CONFIG_FILE
conda env config vars set EVALUATION_SYSTEM_DRS_CONFIG_FILE=$EVALUATION_SYSTEM_DRS_CONFIG_FILE
conda env config vars set EVALUATION_SYSTEM_PLUGINS=$EVALUATION_SYSTEM_PLUGINS
