#skip all python compiled files
*.pyc

#skip all eclipse and other IDE information
#(never add them to the repo, this is "personal" and not project wide)
.*
*~
#but let the git configure files through
!.git*
!.coveragerc
!.docker/
!.envrc
!.pre-commit-config.yaml
coverage.xml
compose/activate_*
compose/completions/*
coverage_report.xml
dist/
coverage_report/*
public/
test_results/
etc/evaluation_system.conf
loadfreva.modules
report.xml
build/*
docs/build
docs/source/_static/*.gif
!docs/build/.empty
*.egg-info
venv/
tmp/
