#skipp all python compiled files
*.pyc

#skip all eclipse and other IDE information
#(never add them to the repo, this is "personal" and not project wide)
.*
*~
#but let the git configure files through
!.git*
!.coveragerc
!.docker/
coverage_report/*
public/
test_results/
etc/evaluation_system.conf
loadfreva.modules
report.xml
*.egg-info
