[submodule "tools/vecap"]
	path = tools/vecap
	url = ssh://miklip.dkrz.de/miklip/integration/repositories/vecap.git
[submodule "tools/climval"]
	path = tools/climval
	url = ssh://miklip.dkrz.de/miklip/integration/repositories/climval.git
[submodule "tools/pca"]
	path = tools/pca
	url = ssh://miklip.dkrz.de/miklip/integration/repositories/pca.git
[submodule "tools/movieplotter"]
	path = tools/movieplotter
	url = ssh://miklip.dkrz.de/miklip/integration/repositories/movie_plotter
[submodule "tools/diffplotter"]
	path = tools/diffplotter
	url = ssh://miklip.dkrz.de/miklip/integration/repositories/plot_diff.git
