Django==5.1.7
GitPython==3.1.44
Pillow==11.2.1
PyPDF2==3.0.1
appdirs==1.4.4
dask==2025.2.0
h5netcdf==1.6.3
humanize==4.12.3
lazy-import==0.2.2
metadata-inspector==2024.10.15
mysqlclient==2.2.6
netCDF4==1.7.2
numpy==2.2.4
pandas==2.1.1
pymysql==1.1.1
requests==2.32.3
toml==0.10.2
toolz==1.0.0
xarray==2024.11.0
