Django==4.2.2
GitPython==3.1.31
Pillow==9.5.0
PyPDF2==3.0.1
appdirs==1.4.4
dask==2023.6.0
h5netcdf==1.2.0
humanize==4.6.0
lazy-import==0.2.2
metadata-inspector==2023.3.7
mysqlclient==2.1.1
netCDF4==1.6.4
numpy==1.24.3
pandas==2.0.2
pymysql==1.0.3
requests==2.31.0
toml==0.10.2
toolz==0.12.0
xarray==2023.5.0
